/* https://coolors.co/0076b6-343a40-727272-eaeaea-b75824-68ad44 main */
/* https://coolors.co/0076b6-131515-2b2c28-7de2d1-fffafb-99e1d9 */

html {
    font-size: 16px;
    width: 100%;
}

body {
    margin: 0;
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

nav {
    width: 100%;
    background-color: #0076B6;
    height: 4em;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75%;
    height: 100%;
    margin: 0 auto;
}

#logo-box {
    display: grid;
    grid-template-columns: 100px 100px;
}

#logo-box img {
    width: 75px;
    padding: .5em;
}

#logo-box h1 {
    display: inline-block;
    color: white;
    align-self: center;
    margin: 0;
    border-left: 1px solid white;
    padding-left: 10px;
    font-size: 1.5em;
}

#navigation {
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    align-content: center;
    justify-items: center;
    height: 100%;
    width: 70%;
    font-family: 'Roboto', sans-serif;
    justify-self: end;
}

#navigation li:nth-of-type(1) {
    display: none;
}

#navigation li {
    height: 4em;
    width: 100%;
    text-align: center;
}

#navigation li a {
    display: block;
    padding: 1.4em;
    /* text-align: left; */
    text-decoration: none;
    color: white;
    font-weight: 700;
    /* height: inherit; */
}

#navigation li a:hover {
    background-color: rgba(0, 0, 0, .2);
}

.material-icons.dropdown {
    display: inline;
    font-size: 1em;
}

#buildings-dropdown {
    background-color: white;
    box-shadow: 3px 3px 5px lightgray;
    margin-top: .05em;
    text-align: left;
    height: fit-content;
    display: none;
}

#buildings-dropdown.display {
    display: block;
}

#navigation li #buildings-dropdown a {
    padding: .2em;
    font-size: 1.25em;
    color: #0076B6;
}

footer {
    width: 100%;
    background-color: #0076B6;
    color: white;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

main {
    height: 100%;
    margin-bottom: 100px;
}

.main {
    display: grid;
    grid-template-columns: 20% 80%;
}

.building-name {
    margin-left: 3em;
}

.art {
    /* width: 70%; */
    margin-left: 1em;
    grid-column: 2/3;
}

.side-thing {
    width: 20%;
    height: 300px;
    /* border: 2px solid black; */
    background-color: #EAEAEA;
    justify-self: center;
    margin: 3em;
    margin-left: 1em;
    position: fixed;
    left: 0;
    top: 15%;
    border-radius: .3em;
    text-align: center;
    overflow: hidden;
    transition: 300ms;
}

#filter-extend {
    display: none;
}

.side-thing.past-nav {
    top: 15%;
    margin-top: 0;
}

.side-thing h2 {
    background-color: #68AD44;
    color: white;
    margin-top: 0;
    height: 1.5em;
    padding-top: .75em;
}

.side-thing select {
    width: 80%;
}

.drop-btn {
    background-color: transparent;
    border: none;
}

.filter-category-btn {
    margin: .5em;
}

.filter-category {
    display: none;
}

.filter-category.display {
    display: block;
}

.small-filter {
    display: none;
}

#filter-btn {
    display: none;
}

/* card styles */
.card-grid {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-bottom: 3%;
    margin-top: 2em;
    grid-gap: 2em;
}

.new-floor {
    grid-column: 1/-1;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

hr {
    height: 2px;
    border-width: 0;
    color: gray;
    background-color: gray;
    width: 100%;
}

.card {
    width: 320px;
    border-radius: 3px 3px 3px 3px;
    background-color: #EAEAEA;
    overflow: hidden;
    margin-top: 3%;
    transition: 500ms;
    /* min-height: 390px; */
    /* max-height: 390px; */
}

.card:hover {
    box-shadow: 5px 3px 3px lightgray;
    transform: scale(1.1);
    z-index: 90;
}

.card-body {
    padding: 0;
}

.card-body h2 {
    margin-bottom: 0;
}

.card-a {
    display: grid;
    grid-template-rows: 1fr;
    text-decoration: none;
    color: black;
}

.card-a:hover {
    text-decoration: none;
}

.card img {
    max-width: 100%;
}

.card-body {
    padding: 0px 15px 15px 15px;
}

.categories {
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(5em, auto));
    justify-items: start; */
    /* grid-gap: 1em; */
    display: none;
}

.categories.display {
    display: block;
}

.category {
    background-color: #B75824;
    color: white;
    width: fit-content;
    padding: .5em;
    border-radius: 1em;
    text-decoration: none;
    font-size: .9em;
    margin: .2em;
    display: inline-block;
}

/* .category-btn {
    color: #68AD44;
} */

.card-footer {
    padding: 1em;
    padding-top: 0;
}

/* end card styles */

/* Detail Page CSS */
.detail-page-section {
    display: grid;
    grid-template-columns: auto auto auto auto;
}



/* End of Detail Page CSS */