{% extends "base.html" %}

{% load static %}

{% block content %}
<br>
<img src="{% static 'zoom.jpg' %}" alt="sample" class="about">
<h3 class="about">What's the point of art if you can't see it, 
    and how are you going to see it if you can't find it? 
    The BYU-I campus is home to many great pieces of art, 
    but it is often difficult to find that art, and once you find it and your curiosity peaks, 
    it's impossible to find any information about it! This is where we come in. 
    Our team has created an easy-to-use web app that allows you to find and learn about all the art on the 
    BYU-I campus. Using the interactive map you can find buildings that contain artwork. 
    Once you've selected a building, the artwork and information are just one click away. 
    With this web app, we hope to give everyone a chance to learn about the great art you can find on the BYU-I campus.</h3>
<div class="about-left-grid">
    <div class="about-grid-item">
        <img src="{% static 'm2021-139.jpg' %}" alt="kyler" style="width:200px;height:300px;">
    </div>
    <div class="about-grid-item">
        <h1>Kyler Mellor</h1>
        <h2>Major Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor </h2>
        <h3>what I have done for this project</h3>
    </div>    
</div>
<div class="about-right-grid">
    <div class="about-grid-item">
        <h1>Kyler Mellor</h1>
        <h2>Major Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor </h2>
        <h3>what I have done for this project</h3>
        
    </div>
    <div class="about-grid-item">
        <img src="{% static 'm2021-139.jpg' %}" alt="kyler" style="width:200px;height:300px;">
    </div>  
</div>
<div class="about-left-grid">
    <div class="about-grid-item">
        <img src="{% static 'm2021-139.jpg' %}" alt="kyler" style="width:200px;height:300px;">
    </div>
    <div class="about-grid-item">
        <h1>Kyler Mellor</h1>
        <h2>Major Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor </h2>
        <h3>what I have done for this project</h3>
    </div>    
</div>
<div class="about-right-grid">
    <div class="about-grid-item">
        <h1>Kyler Mellor</h1>
        <h2>Major Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor </h2>
        <h3>what I have done for this project</h3>
        
    </div>
    <div class="about-grid-item">
        <img src="{% static 'm2021-139.jpg' %}" alt="kyler" style="width:200px;height:300px;">
    </div>  
</div>
<br>

{% endblock content %}