{% extends "base.html" %}

{% load static %}

{% block content %}
<br>
<div class="about-left-grid">
    <div class="about-grid-item">
        <img src="{% static 'm2021-139.jpg' %}" alt="kyler" style="width:200px;height:300px;">
    </div>
    <div class="about-grid-item">
        <h1>Kyler Mellor</h1>
        <h2>Major Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor </h2>
        <h3>what I have done for this project</h3>
    </div>    
</div>
<div class="about-right-grid">
    <div class="about-grid-item">
        <h1>Kyler Mellor</h1>
        <h2>Major Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor </h2>
        <h3>what I have done for this project</h3>
        
    </div>
    <div class="about-grid-item">
        <img src="{% static 'm2021-139.jpg' %}" alt="kyler" style="width:200px;height:300px;">
    </div>  
</div>
<div class="about-left-grid">
    <div class="about-grid-item">
        <img src="{% static 'm2021-139.jpg' %}" alt="kyler" style="width:200px;height:300px;">
    </div>
    <div class="about-grid-item">
        <h1>Kyler Mellor</h1>
        <h2>Major Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor </h2>
        <h3>what I have done for this project</h3>
    </div>    
</div>
<div class="about-right-grid">
    <div class="about-grid-item">
        <h1>Kyler Mellor</h1>
        <h2>Major Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor Kyler Mellor </h2>
        <h3>what I have done for this project</h3>
        
    </div>
    <div class="about-grid-item">
        <img src="{% static 'm2021-139.jpg' %}" alt="kyler" style="width:200px;height:300px;">
    </div>  
</div>
<br>

{% endblock content %}