{% extends "base.html" %}

{% block content %}
{% if artwork %}
<div class="card-grid">
  {% for artworks in artwork %}
  <article class="card">
    <a class="card-a" href="" target="_blank">
      <img src="../media/{{ artworks.picture }}" alt="{{ artworks.picture }}">
      <section class="card-body">
        <h3>{{ artworks.title }} by {{ artworks.artist_name }}</h3>
        <p>Categories:{% for category in artworks.categories.all %}<br>{{ category.name }}{% endfor %}</p>
        <p>Buildings: {% for building in artworks.building.all %}{{ building.name }} {% endfor %}</p>
        <p>Description: {{ artworks.description }}</p>
      </section>
    </a>
  </article>
  {% endfor %}
</div>
{% else %}
  <h1>No Artwork to display.</h1>
{% endif %}
{% endblock %}