{% extends "base.html" %}
{% load tags %}

{% block title %}Art Display{% endblock %}

{% block content %}
{% if artwork %}

<main>
  <h1 class="building-name">I-Center</h1>
  <div class="main">
    <section class="side-thing">
      <h2>Filter <span id="filter-extend">+</span></h2>
      <label for="floor">Floor</label>
      <!-- Using a for loop to display floors, using an if statemennt to change 'selected' on option -->
      <select name="floor" id="floor" onchange="javascript:floorSelect(this)">
        {% for i in building_names %}
        {% if i.name|lower == request.path|get_current_building %}
          {% for x in i.num_floors|int_to_list:i.name %}
            {% if x == request.path|get_current_floor %}
              {% if x == 0 %}
              <option value="{{ x }}" selected>All Floors</option>
              {% else %}
              <option value="{{ x }}" selected>{{ x }}</option>
              {% endif %}
            {% else %}
              {% if x == 0 %}
              <option value="{{ x }}">All Floors</option>
              {% else %}
              <option value="{{ x }}">{{ x }}</option>
              {% endif %}
            {% endif %}
          {% endfor %}          
        {% endif %}
        {% endfor %}
      </select>
      <label for="building">Buildings</label>
      <select name="building" id="building" onchange="javascript:buildingSelect(this, '{% for building in building_names %}{{ building.name }}.{% endfor %}')" data-test="testing">
        {% for building in building_names %}
        {% if building.name|lower == request.path|get_current_building %}
        <option value="{{ building.name }}" selected>{{ building.name }}</option>   <!-- Is there a way to send data from the option tags to the buildingSelect JS code? -->
        {% else %}
        <!-- <option value="{{ building.name }}" id="{{ building.name }}" 
        data-currentfloor = "{{ request.path|get_current_floor }}"
        data-numfloors = "{{ building.num_floors }}">{{ building.name }}</option> --> <!-- I do not know why I put the data tags in this option tag -->
        <option value="{{ building.name }}" selected>{{ building.name }}</option>
        {% endif %}
        {% endfor %}
      </select>

      <script type="text/javascript"> 
        function buildingSelect(select, building_names) 
        { 
          console.log("Building Names:" + building_names)

          let x = window.location.href
          let count = 0
          for (i= 0; i < x.length; i++) {
            if (x[i] == '/' && i > 7) {
              count++
              if (count == 1) { var firstSlash = i }
              else if (count == 2) { var secondSlash = i }  
            }
          }
          let building = x.substring(firstSlash + 1, secondSlash)
          x = x.replace(building, select.value)
          // stc = document.getElementById("STC")
          // console.log(stc.dataset.numfloors)
          // console.log("Current Floor: " + stc.dataset.currentfloor)
          window.location = x
        }

        function floorSelect(select) 
        { 
          let x = window.location.href
          let count = 0
          for (i = 0; i < x.length; i++) {
            if (x[i] == '/' && i > 7) {
              count++
              if (count == 3) { var thirdSlash = i }
            }
          }
          let floor = x.substring(thirdSlash, thirdSlash + 3)
          x = x.replace(floor, "/" + select.value)
          window.location = x
          // TODO: This can be modified to allow it to change categories to all.
        } 
      </script> 

      <button class="filter-category-btn drop-btn">Categories +</button>
      <div class="filter-category">
        {% for category in category_names %}
            <a class="category" href="{{ request.path|change_category:category.name }}">{{ category.name }}</a>
        {% endfor %}
      </div>
    </section>
    <section class="card-grid art">
      {% for artworks in art_context %}
      <article class="card">
        <a class="card-a" href="">
          <img src="../../../media/{{ artworks.picture }}" alt="{{ artworks.picture }}">
        </a>
        <section class="card-body">
          <h2>{{ artworks.title }}</h2>
          <button class="category-btn drop-btn">Categories +</button>
          <div class="categories">
            {% for category in artworks.categories.all %}
            <!-- {% if category.name != "All" %} -->
            <!-- Does not display "All" category, that would not look good in my opinion -->
            <a class="category" href="{{ request.path|change_category:category.name }}">{{ category.name }}</a>
            <!-- {% endif %} -->
            {% endfor %}
          </div>
        </section>
        <section class="card-footer">
          <small>{{ artworks.artist_name }}</small>
        </section>
      </article>
      {% endfor %}
    </section>
  </div>
  <section class="small-filter">
    <h3>Filter</h3>
    <label for="floor">Floor</label>
    <select name="floor" id="floor">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    <button class="small-filter-category-btn drop-btn">Categories +</button>
    <div class="small-filter-category">
      {% for category in category_names %}
      <a class="category" href="#">{{ category.name }}</a>
      {% endfor %}
    </div>
  </section>
  <button id="filter-btn">+</button>
</main>
{% else %}
<h1>No Artwork matching criteria.</h1>
{% endif %}

<!-- <center>
  <h5>
    This is a place to test Django code. 
  </h5>
</center> -->

{% endblock %}