{% extends "base.html" %}
{% load tags %}

{% block title %}Art Display{% endblock %}

{% block content %}
{% if request.path|get_current_building in building_names|lower %}

{% load static %}

<main>
  <script src="{% static 'building.js' %}"></script>
  <header>
    <img id="i-center-img" src="{% static 'i_center(3).jpg' %}" alt="I-Center">
    {% for i in building_names %}
    {% if i.name|lower == request.path|get_current_building %} <!-- Returns the building name with proper capitalization -->
    <h1 class="building-name">{{ i }}</h1>
    {% endif %}
    {% endfor %}
  </header>
  <div class="main">
    <section class="side-thing">
      <h2>Filter <span id="filter-extend">+</span></h2>
      <div class="filter-dropdown">
        <label for="floor">Floor</label>
        <!-- Using a for loop to display floors, using an if statemennt to change 'selected' on option -->
        <select name="floor" id="floor" onchange="javascript:floorSelect(this)">
          {% for i in building_names %}
          {% if i.name|lower == request.path|get_current_building %}
            {% for x in i.num_floors|int_to_list:i.name %}
              {% if x == request.path|get_current_floor %}
                {% if x == 0 %}
                <option value="{{ x }}" selected>All Floors</option>
                {% else %}
                <option value="{{ x }}" selected>{{ x }}</option>
                {% endif %}
              {% else %}
                {% if x == 0 %}
                <option value="{{ x }}">All Floors</option>
                {% else %}
                <option value="{{ x }}">{{ x }}</option>
                {% endif %}
              {% endif %}
            {% endfor %}          
          {% endif %}
          {% endfor %}
        </select>
        <label for="building">Buildings</label>
        <select name="building" id="building" onchange="javascript:buildingSelect(this, '{% for building in building_names %}{{ building.name }}.{% endfor %}')" data-test="testing">
          {% for building in building_names %}
          {% if building.name|lower == request.path|get_current_building %}
          <option value="{{ building.name }}" selected>{{ building.name }}</option>   <!-- Is there a way to send data from the option tags to the buildingSelect JS code? -->
          {% else %}
          <!-- <option value="{{ building.name }}" id="{{ building.name }}" 
          data-currentfloor = "{{ request.path|get_current_floor }}"
          data-numfloors = "{{ building.num_floors }}">{{ building.name }}</option> --> <!-- I do not know why I put the data tags in this option tag -->
          <option value="{{ building.name }}">{{ building.name }}</option>
          {% endif %}
          {% endfor %}
        </select>
        </div>
      <button class="filter-category-btn drop-btn">Categories +</button>
      <div class="filter-category">
        
        {{ 0|add_to_list }}   <!-- Clears the list of categories on the building and floor. -->
        {% for current_category in categories_for_filter %}
          {% with current_category|get_cat_name as current_category %}
            {{ current_category|add_to_list }}  <!-- Adds current category in the for loop to a list. -->
          {% endwith %}
        {% endfor %}

        <!-- Scrolls through list and displays a link. -->
        {% for current_category in 0|return_list %}
        <a class="category" href="{{ request.path|change_category:current_category }}">{{ current_category }}</a>
        {% endfor %}

      </div>
    </section>
    <section class="card-grid art">
      {% for artworks in art_context %}
      <article class="card">
        <a class="card-a" href="{{ artworks.get_absolute_url }}">
          <img src="../../../media/{{ artworks.picture }}" alt="{{ artworks.picture }}" loading="lazy">
        </a>
        <section class="card-body">
          <h2>{{ artworks.title }}</h2>
          <button class="category-btn drop-btn">Categories +</button>
          <div class="categories">
            {{ 0|add_to_list }} <!-- Adding the int 0 to add_to_list clears the list. -->
            {% for category in artworks.categories.all %}
            <!-- <a class="category" href="{{ request.path|change_category:category.name }}">{{ category.name }}</a> -->
              {{ category|add_to_list }}
            {% endfor %}
            {% for category in artwork|return_list %}
              <a class="category" href="{{ request.path|change_category:category.name }}">{{ category.name }}</a>
            {% endfor %}
          </div>
        </section>
        <section class="card-footer">
          <small>{{ artworks.artist_name }}</small>
        </section>
      </article>
      {% endfor %}
    </section>
  </div>

  <section class="small-filter">
    <h3>Filter</h3>
    <label for="floor">Floor</label>
    <select name="floor" id="floor" onchange="javascript:floorSelect(this)">
      {% for i in building_names %}
        {% if i.name|lower == request.path|get_current_building %}
          {% for x in i.num_floors|int_to_list:i.name %}
            {% if x == request.path|get_current_floor %}
              {% if x == 0 %}
              <option value="{{ x }}" selected>All Floors</option>
              {% else %}
              <option value="{{ x }}" selected>{{ x }}</option>
              {% endif %}
            {% else %}
              {% if x == 0 %}
              <option value="{{ x }}">All Floors</option>
              {% else %}
              <option value="{{ x }}">{{ x }}</option>
              {% endif %}
            {% endif %}
          {% endfor %}          
        {% endif %}
        {% endfor %}
    </select>
    <label for="building">Buildings</label>
    <select name="building" id="building" onchange="javascript:buildingSelect(this, '{% for building in building_names %}{{ building.name }}.{% endfor %}')" data-test="testing">
      {% for building in building_names %}
      {% if building.name|lower == request.path|get_current_building %}
      <option value="{{ building.name }}" selected>{{ building.name }}</option>   <!-- Is there a way to send data from the option tags to the buildingSelect JS code? -->
      {% else %}
      <!-- <option value="{{ building.name }}" id="{{ building.name }}" 
      data-currentfloor = "{{ request.path|get_current_floor }}"
      data-numfloors = "{{ building.num_floors }}">{{ building.name }}</option> --> <!-- I do not know why I put the data tags in this option tag -->
      <option value="{{ building.name }}">{{ building.name }}</option>
      {% endif %}
      {% endfor %}
    </select>
    <button class="small-filter-category-btn drop-btn">Categories +</button>
    <div class="small-filter-category">
      {% for category in category_names %}
      <a class="category" href="#">{{ category.name }}</a>
      {% endfor %}
    </div>
  </section>
  <button id="filter-btn">+</button>
  
  <script src="{% static 'filter.js' %}"></script>
</main>
{% else %}
<h1>Error 404 Not Found</h1>
<h2>Building is not yet in the database: {{ request.path|get_current_building }} </h2>
{% endif %}

<!-- <center>
  <h5>
    This is a place to test Django code. 
  </h5>
</center> -->

{% endblock %}