{% extends "base.html" %}

{% block title %}Building{% endblock %}

{% block content %}
{% if artwork %}

<main>
    <h1>DON'T USE</h1>
    <section class="side-thing">
        <h2>Filter <span id="filter-extend">+</span></h2>
        <label for="floor">Floor</label>
        <select name="floor" id="floor">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <button class="filter-category-btn drop-btn">Categories +</button>
        <div class="filter-category">
            {% for category in category_names %}
            <a class="category" href="{% url 'art_category' category.name %}">{{ category.name }}</a>
            {% endfor %}
        </div>
    </section>
    <div class="card-grid art">
        {% for artworks in art_context %}
        <article class="card">
            <a class="card-a" href="">
                <img src="../../media/{{ artworks.picture }}" alt="{{ artworks.picture }}">
            </a>
            <section class="card-body">
                <h2>{{ artworks.title }}</h2>
                <button class="category-btn drop-btn">Categories +</button>
                <div class="categories">
                    {% for category in artworks.categories.all %}
                    <a class="category" href="{% url 'art_category' category.name %}">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </section>
            <section class="card-footer">
                <small>{{ artworks.artist_name }}</small>
            </section>
        </article>
        {% endfor %}
    </div>
    <section class="small-filter">
        <h3>Filter</h3>
        <label for="floor">Floor</label>
        <select name="floor" id="floor">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <button class="small-filter-category-btn drop-btn">Categories +</button>
        <div class="small-filter-category">
            {% for category in category_names %}
            <a class="category" href="{% url 'art_category' category.name %}">{{ category.name }}</a>
            {% endfor %}
        </div>
    </section>
    <button id="filter-btn">+</button>
</main>
{% else %}
<h1>No Artwork matching criteria.</h1>
{% endif %}

{% endblock %}