{% extends 'base.html' %}
{% load tags %}

{% block content %}
<main>
    <div>
        <div class="detail-grid"></section>
            <div class="detail-grid-item">
                <img src="../../../media/{{ object.picture }}" alt="{{ object.picture }}" height="500" width = "500">

            </div>
            <div class="detail-grid-item">
              <h3>{{ object.title }}</h3>
              <p>{{ object.description }}</p>
              <p>{{ object.artist_name }}</p>
              <p>{{ object.year_created }}</p>

            </div>
        </div>

    </div>
</main>
{% endblock %}