{% extends "base.html" %}

{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Shortcut Icon" href="https://my.byui.edu/ICSFileServer/Themes/myBYUI/favicon.ico" type="image/x-icon">
    <title>{% block title %}Campus Art{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'normalize.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'medium.css' %}">
    <link rel="stylesheet" href="{% static 'small.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{% static 'main.js' %}"></script>

    <style>
        html,
        body,
        #viewDiv {
            padding: 0;
            margin: 0;
            height: 84.75%;
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="https://js.arcgis.com/4.19/esri/themes/light/main.css">
    <script src="https://js.arcgis.com/4.19/"></script>

    <script>
        // Start the map and import the tools I need
        require(["esri/Map", "esri/views/MapView",
            "esri/Graphic", "esri/layers/GraphicsLayer"
        ], function (Map, MapView, Graphic, GraphicsLayer) {

            // list out the locations(buildings)
            const buildings = [
                {
                    "title": "I-Center",
                    "path": "i-center",
                    "longitude": -111.78469344183378,
                    "latitude": 43.81856593101695
                },
                {
                    "title": "Hyrum Manwaring Student Center",
                    "path": "mc",
                    "longitude": -111.78243873154604,
                    "latitude": 43.81858491529389
                },
                {
                    "title": "John W. Hart Building",
                    "path": "hart",
                    "longitude": -111.78542134805093,
                    "latitude": 43.81976157186624
                },
                {
                    "title": "David O. McKay Library",
                    "path": "mk",
                    "longitude": -111.78283569848891,
                    "latitude": 43.81961449107789
                },
                {
                    "title": "John Taylor Building",
                    "path": "taylor",
                    "longitude": -111.78239581618743,
                    "latitude": 43.81713728622596
                },
                {
                    "title": "Ezra Taft Benson Agricultural and Biological Sciences Building",
                    "path": "benson",
                    "longitude":  -111.78323266542505,
                    "latitude": 43.815527047997385
                },
                {
                    "title": "Science & Technology Center (STC)",
                    "path": "stc",
                    "longitude": -111.78475156313836,
                    "latitude": 43.814718125355505
                },
                {
                    "title": "Thomas E. Ricks Building (RKS)",
                    "path": "rks",
                    "longitude":  -111.78098114497733,
                    "latitude": 43.81491062508285
                },
                {
                    "title": "Spencer W. Kimball Building",
                    "path": "kimble",
                    "longitude": -111.78148801722634,
                    "latitude": 43.81723982272021
                },
                {
                    "title": "Lowell G. Biddulph Building",
                    "path": "biddulph",
                    "longitude": -111.78521397290696,
                    "latitude": 43.817252655508575
                },
                {
                    "title": "Joseph Fielding Smith Building",
                    "path": "smith",
                    "longitude": -111.78145244724135,
                    "latitude": 43.819305866893686
                },
                {
                    "title": "George S. Romney Building",
                    "path": "romney",
                    "longitude": -111.7831509139051,
                    "latitude": 43.820338862164164
                },
                {
                    "title": "John L. Clark Building",
                    "path": "clark",
                    "longitude":  -111.78176368458979,
                    "latitude": 43.82051851169274
                },
                {
                    "title": "Jacob Spori Arts and Letters Building",
                    "path": "spori",
                    "longitude":  -111.78238615928612,
                    "latitude": 43.82098046513198
                },
                {
                    "title": "Barrus Concert Hall - BYU-Idaho",
                    "path": "barrus_hall",
                    "longitude":   -111.7835155062388,
                    "latitude": 43.82144241500091
                }
            ]

            // load the map
            const map = new Map({
                basemap: "topo-vector" // Basemap layer service
            });

            // Get the map view I want
            const view = new MapView({
                map: map,
                center: [-111.78380253251153, 43.817685729697516], // Longitude, latitude
                zoom: 16, // Zoom level
                container: "viewDiv" // Div element
            });

            
            // Create and add a GraphicsLayer to store graphics
            const graphicsLayer = new GraphicsLayer();
            map.add(graphicsLayer);

            // loop the list
            for (let index in buildings){
                const point = { //Create a point
                    type: "point",
                    longitude: buildings[index].longitude,
                    latitude: buildings[index].latitude
                };
                const simpleMarkerSymbol = {
                    type: "picture-marker",
                    url: "{% static 'marker.png' %}",
                };

                // This gets us the domain name
                let root = "{{ request.build_absolute_uri }}";
                // Get the path
                let buildingPath = buildings[index].path
                let path = buildingPath + "/all/0"
                // Create the url
                let url = "\"" + root + path + "\"";

                // Set popup content
                let content = "<a href=" + url + " target='_self'>Go to this building</a>";

                // Display the point
                const pointGraphic = new Graphic({
                    geometry: point,
                    symbol: simpleMarkerSymbol
                });
                // Create a popup with a link
                pointGraphic.popupTemplate = {
                    "title": buildings[index].title,
                    "content": content
                }
                // display the popup
                graphicsLayer.add(pointGraphic);
            }

        });
    </script>
</head>
{% endblock %}

{% block content %}
<body>

    <body>
        <div id="viewDiv"></div>
    </body>
</body>
{% endblock content %}